<!-- EASYPICK: Change the font family of the sidebard -->
<!-- FIX: Make a git reset --hard && git pull on the server when DNS is propagated -->

<!DOCTYPE html>
<html>
  <head>
    <title>ASCII Collaborative Automata</title>
    <meta property="og:url" content="http://www.adelriosantiago.com:7000/" />
    <meta property="og:type" content="project" />
    <meta property="og:title" content="Real-time collaborative artificial life" />
    <meta property="og:description" content="A Node.js + Socket.io app simulating artificial life on a real-time collaborative environment." />
    <meta property="og:image" content="http://www.adelriosantiago.com/articles/images/alife-final.PNG" />

    <!-- <link href='http://fonts.googleapis.com/css?family=Questrial|Geo' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="/stylesheets/asciiautomata.css" />
    <link href="/stylesheets/jBox.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <!-- The cell board goes here -->
    <div id="array-container"></div>
    <div id="user-stickers"></div>

    <!-- The left panel goes here -->
    <div id="sidr" class="sidr left" style="display: block; left: 0px">
      <h2>ASCII Collaborative Automata</h2>
      <div style="margin: 10px; margin-bottom: 20px; text-align: justify">
        <p>
          The ASCII collaborative automata is a real-time collaborative Game of Life, where users can draw patterns and watch them evolve. Read the theory at the
          <a href="http://www.adelriosantiago.com/gitblog/artificial" target="_blank">blog post</a>.
        </p>
      </div>

      <div id="life-board">
        <h2>Drawing Pattern</h2>
        <table id="cell-editor">
          <% for(var y = 0; y < 9; y++) {%>
          <tr>
            <% for(var x = 0; x < 9; x++) {%>
            <td cx="<%= x %>" cy="<%= y %>"></td>
            <% } %>
          </tr>
          <% } %>
        </table>
      </div>

      <div id="user-room">
        <h2>Your Nickname</h2>
        <input id="nickname" type="text" placeholder="anonymous" style="width: 50%" />
        <h2>Connected Users</h2>
        <ul id="user-list" style="text-align: left"></ul>

        <!-- <p>Living cells: </p>
                <p>Birth rate per second: </p>
                <p>Mortality rate per second: </p>
                <p>Deaths by solitude: </p>
                <p>Deaths by over-population: </p> ->>
                <!-- All time statistics -->
        <!-- <p>All time most living cells: </p>
                <p>Deaths by over-population: </p> -->
      </div>

      <!-- <button id='recreate-btn'>Recreate</button>
            <button id='clear-btn'>Clear</button> -->
    </div>

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/jBox.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/socket.io-1.3.5.js"></script>
    <script src="/javascripts/asciiautomata.js"></script>
  </body>
</html>
